
{% extends 'shop/base.html' %}

{% block content %}

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav> -->
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-4 mb-md-0" src="{{ item.image.url }}" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ item.title }}</h1>
                <div class="d-flex">
                    <!-- {% if item.owner.tg_link %} -->
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button"> -->
                        <!-- {{ item.owner.profile.tg_link }} -->
                    <!-- </button> -->
                    {% if request.user.username == item.owner.user.username %}
                        <a class="btn btn-outline-dark mt-auto" href="{% url 'delete_item' pk=item.id %}">Удалить</a>
                    {% endif %}
                    <!-- {% endif %} -->
                </div>
                <div class="fs-5 mb-5">
                    <span>{{ item.price }}</span>
                </div>
                <p class="lead">{{ item.description }}</p>
                <h3>Продавец</h3>
                <div class="saler-profile">
                        {{ item.owner.user.first_name }} {{ item.owner.user.last_name }}
                    </div>
                </div>
                <h3>Связь</h3>
                <div class="d-flex">
                    {% if item.owner.tg_link %}
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button"> -->
                        <!-- {{ item.owner.profile.tg_link }} -->
                    <!-- </button> -->
                    <a class="btn btn-outline-dark mt-auto" href="{{ item.owner.tg_link }}">Telegram</a>
                    {% endif %}
                </div>
                <div class="other-contacts">
                    {{ item.owner.other_contacts }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
{% endblock content %}